.App {
  text-align: center;
  background: rgb(231,150,232);
background: linear-gradient(90deg, rgba(231,150,232,1) 0%, rgba(114,177,232,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.topBox {
  width: 200px;
  display: flex;
}

.titlelogo {
  width: 100%;
 
  padding-right: 4px;
}
.formBox {
  display: flex;
  justify-content: space-between;
}
.form {
  width: 600px;
  height:55px;
  margin: 20px;
}
button {
  border-radius: 20px;
  background-color: lightblue;
  border: double lightseagreen 10px;
}

.container1 {
  border: double lightpink 10px;
  display: flex;
}
.poster {
  border: double lightskyblue 10px;
  width:49%;
  background-image: url(https://neonize.gumlet.io/wp-content/uploads/2022/08/Movie-Night_light.jpg);
 

}
.input {
  width: 300px;
  height: 40px;
  border: double lightsalmon 5px;
  background-color:  rgb(224, 187, 226);

}
.submit {
  font-size: large;
border-radius: 20px;
height: 55px;
background-color: lightblue;
border: double lightseagreen 5px;
} 
.mainPic {
  width: 425px;
  margin-bottom: 50px;
}

.pic {
  width: 100%;
}
.descriptionBox{
  border: double lightseagreen 10px;
  width: 49%;

}

.rating {
  border: double rgb(124, 86, 173) 10px;

}

.plot {
  border: double lightgray 10px;
  font-size: 11px;
  padding: 4px;
}

.awards {
  border: double goldenrod 5px;
  font-size: 11px;

}

